name: Build Go app (static)

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Build static binary (no go.mod)
        run: |
          mkdir -p build
          go env -w GO111MODULE=off
          CGO_ENABLED=0 go build -ldflags="-s -w" -o build/app go.go
